@use "./../../scssVariables/scssVariables";

#cart {
    border: none;
    border-radius: 8px;
    max-width: 327px;
    width: 100%;
    padding: 0;
    margin-top: 114px;

    @media (min-width: 426px) {
        max-width: 377px;
        width: calc(100vw - 80px);
    }

    @media (min-width: 526px) {
        inset: 0 calc(-100vw + 457px) 0 0;
    }

    @media (min-width: 1190px) {
        inset: 0 -733px 0 0;
    }
    
    section {
        max-width: 100%;
        padding: 32px 29px;

        .cart__heading {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;

            h6 {
                @include scssVariables.headerSix();
                text-transform: uppercase;
            }

            button {
                border: none;
                padding: 0;
                background-color: #fff;
                @include scssVariables.bodyFont();
                opacity: 0.5;
                text-decoration: underline;

            }
        }

        ul {
            max-height: calc(100dvh - 387px);
            overflow: auto;
            box-sizing: border-box;
            padding-bottom: 32px;
        }

        .cart__total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .cart__totalText {
                @include scssVariables.bodyFont();
                text-transform: uppercase;
                opacity: 0.5;
            }

            .cart__sum {
                @include scssVariables.headerSix();
            }
        }

        a {
            @include scssVariables.button(scssVariables.$brown, scssVariables.$lighterBrown, #fff, scssVariables.$brown, 0 auto);
            max-width: 100%;
        }
    }

    .container-dialog {
        max-width: 1110px;
        position: relative;
        margin: 0 auto;

        @media (min-width: 769px) {
            justify-content: space-between;
        }
    }

    .header__checkboxCoverWrapper-dialog {
        display: none;
    }
}