@use "./../../scssVariables/scssVariables";

.headliner {
    position: relative;
    background-color: #191919;
    padding: 108px 0 110px 0;
    margin-bottom: 40px;
    background-image: url("/assets/home/mobile/image-header.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
    @media (min-width: 426px) {
        background-image: url("/assets/home/tablet/image-header.jpg");
        padding: 126px 0 167px;
    }

    @media (min-width: 769px) {
        padding: 128px 40px 158px;
        margin-bottom: 120px;
    }
    
    @media (min-width: 880px) {
        background-image: url("/assets/home/desktop/image-hero.jpg");        
    }
    
    @media (min-width:1024px) {
        background-size: contain;
        background-position: top;
    }
    
    .container {
        max-width: 1110px;
        margin: 0 auto;
    }


    h1 {
        position: relative;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.28571px;
        color: #FFFFFF;
        margin-bottom: 24px;
        z-index: 1;

        @media (min-width:426px) {
            @include scssVariables.headerOne;
        }

        @media (min-width: 880px) {
            text-align: left;
        }
    }

    a {
        position: relative;
        z-index: 1;
        @include scssVariables.button(scssVariables.$brown, scssVariables.$lighterBrown, #FFF, scssVariables.$brown, 0 auto);

        @media (min-width: 880px) {
            @include scssVariables.button(scssVariables.$brown, scssVariables.$lighterBrown, #FFF, scssVariables.$brown, 0);
        }
    }

}

.headliner__overline {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgba($color: #fff, $alpha: 0.5);
    margin-bottom: 16px;

    @media (min-width:426px) {
        margin-bottom: 24px;        
    }

    @media (min-width: 880px) {
        text-align: left;
    }
}

.headliner__desc {
    @include scssVariables.bodyFont;

    padding: 0 24px;
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.75);
    mix-blend-mode: normal;
    position: relative;
    z-index: 1;
    max-width: 349px;
    margin: 0 auto 28px;

    @media (min-width:426px) {
        margin: 0 auto 40px;
    }

    @media (min-width:769px) {
        padding: 0;
    }
    
    @media (min-width: 880px) {
        margin: 0 0 40px;
        text-align: left;
    }

}

.headliner__backgroundImageWrapper {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: -90px;
    z-index: 0;
    opacity: 0.5;
    
    img {
        z-index: -10;
        max-width: 100%;
    }
}

.mainNavSection {
    margin-bottom: 120px;

    @media (min-width: 426px) {
        margin-bottom: 96px;
    }

    @media (min-width: 769px) {
        margin-bottom: 168px;
    }
}

.primaryProduct {
    padding: 0 24px;
    margin-bottom: 24px;
    overflow: hidden;

    @media (min-width: 426px) {
        padding: 0 40px;
        margin-bottom: 32px;
    }

    @media (min-width: 769px) {
        margin-bottom: 40px;
    }

    .container {
        background-color: scssVariables.$brown;
        padding: 55px 0;
        border-radius: 8px;
        background-image: url("/assets/home/desktop/pattern-circles.svg");
        background-size: 558px;
        background-position: 50% -121px;
        background-repeat: no-repeat;
        max-width: 1110px;
        margin: 0 auto;
        position: relative;

        @media (min-width: 426px) {
            padding: 52px 0;
            background-size: 944px;
            background-position: 50% -288px;

        }
        
        @media (min-width:1024px) {
            padding: 133px 0 124px;
            background-position: -155px 5%;
        }

        > h1, p {
            max-width: 349px;

            @media (min-width:1024px) {
                text-align: left;
            }
        }
    }

    h1 {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
        margin: 0 auto 24px;

        @media (min-width: 426px) {
            @include scssVariables.headerOne;
        }

        @media (min-width: 1024px) {
            margin: 0 95px 24px auto;
        }
    }

    p {
        @include scssVariables.bodyFont;

        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.75;
        margin: 0 auto 24px;
        padding: 0 24px;
        text-align: center;

        @media (min-width: 426px) {
            margin: 0 auto 40px;
        }

        @media (min-width: 1024px) {
            margin: 0 95px 40px auto;
            padding: 0;
        }
    }

    a {
        @include scssVariables.button(black, #4C4C4C, #FFF, black, 0 auto);

        @media (min-width:1024px) {
            @include scssVariables.button(black, #4C4C4C, #FFF, black, 0 285px 0 auto);            
        }
    }
}

.primaryProduct__imageWrapper {
    max-width: 172px;
    margin: 0 auto 32px;

    @media (min-width: 426px) {
        max-width: 197px;
        margin: 0 auto 64px;
    }

    
    
    @media (min-width:1024px) {
        position: absolute;
        bottom: -7px;
        margin: 0;
        left: 140px;
        max-width: 350px;
    }

    img {
        max-width: 100%;
    }
}

.secondaryProduct {
    padding: 0 24px;
    max-height: 320px;
    height: 100%;
    margin-bottom: 24px;
    
    @media (min-width:426px) {
        padding: 0 40px;
        margin-bottom: 32px;
    }

    @media (min-width:769px) {
        margin-bottom: 48px;
    }

    .container {
        border-radius: 8px;
        background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 101px;
        max-width: 1110px;
        margin: 0 auto;

        @media (min-width:526px) {
            background-image: url("/assets/home/tablet/image-speaker-zx7.jpg");
            background-position: center;
        }

        @media (min-width:769px) {
            background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
        }
    }
    
    h4 {
        @include scssVariables.headerFour;
        padding-top: 101px;
        margin: 0 0 32px 24px;
        text-transform: uppercase;

        @media (min-width:526px) {
            margin: 0 0 32px 62px;
        }
    }

    a {
        @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 24px);

        @media (min-width:526px) {
            @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 62px);
        }
    }
}

.tertiaryProduct {
    padding: 0 24px;

    @media (min-width:426px) {
        padding: 0 40px;
    }

    .container {
        @media (min-width:426px) {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            
            > div {
                max-width: 450px;
                min-width: 223px;
                flex-grow: 1;
                flex-basis: 0;
                margin: 0;
            }
        }

        @media (min-width:769px) {
            gap: 30px;
            
            > div {
                max-width: 540px;
            }
        }
    }

    .tretiaryProduct__imageWrapper {
        max-width: 100%;
        margin-bottom: 24px;
        
        img {
            border-radius: 8px;
            max-width: 100%;
        }    
    }

    .tretiaryProduct__linkWrapper {
        border-radius: 8px;
        background-color: scssVariables.$darkestWhite;
        padding-bottom: 41px;

        @media (min-width:426px) {
            padding-bottom: 15px;
        }
        
        h4 {
            @include scssVariables.headerFour;
            padding-top: 41px;
            margin: 0 0 32px 24px;
            text-transform: uppercase;

            @media (min-width:426px) {
                padding-top: 25px;
                margin: 0 0 32px 41px;
            }

            @media (min-width:536px) {
                padding-top: 41px;
                margin: 0 0 32px 24px;
            }
            
            @media (min-width:630px) {
                margin: 0 0 32px 41px;
            }

            @media (min-width:670px) {
                padding-top: 101px;
                margin: 0 0 32px 41px;
            }

            @media (min-width: 769px) {
                padding-top: 40px;
            }

            @media (min-width: 1024px) {
                padding-top: 101px;
                margin: 0 0 32px 95px;
            }
        }

        a {
            @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 24px);

            @media (min-width:426px) {
                @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 41px);                
            }

            @media (min-width:536px) {
                @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 24px);                
            }

            @media (min-width:630px) {
                @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 41px);                
            }

            @media (min-width: 1024px) {
                @include scssVariables.button(rgba(0, 0, 0, 0), black, black, black, 0 0 0 95px);                
            }
        }
    }

}
