.headliner {
  position: relative;
  background-color: #191919;
  padding: 108px 0 110px 0;
  margin-bottom: 40px;
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (min-width: 426px) {
  .headliner {
    background-image: url("/assets/home/tablet/image-header.jpg");
    padding: 126px 0 167px;
  }
}
@media (min-width: 769px) {
  .headliner {
    padding: 128px 40px 158px;
    margin-bottom: 120px;
  }
}
@media (min-width: 880px) {
  .headliner {
    background-image: url("/assets/home/desktop/image-hero.jpg");
  }
}
@media (min-width: 1024px) {
  .headliner {
    background-size: contain;
    background-position: top;
  }
}
.headliner .container {
  max-width: 1110px;
  margin: 0 auto;
}
.headliner h1 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.28571px;
  color: #FFFFFF;
  margin-bottom: 24px;
  z-index: 1;
}
@media (min-width: 426px) {
  .headliner h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }
}
@media (min-width: 880px) {
  .headliner h1 {
    text-align: left;
  }
}
.headliner a {
  position: relative;
  z-index: 1;
  display: block;
  padding: 15px 29px;
  background-color: #D87D4A;
  max-width: 160px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #FFF;
  text-decoration: none;
  border: #D87D4A 1px solid;
  margin: 0 auto;
}
@media (min-width: 880px) {
  .headliner a {
    display: block;
    padding: 15px 29px;
    background-color: #D87D4A;
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FFF;
    text-decoration: none;
    border: #D87D4A 1px solid;
    margin: 0;
  }
}

.headliner__overline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
}
@media (min-width: 426px) {
  .headliner__overline {
    margin-bottom: 24px;
  }
}
@media (min-width: 880px) {
  .headliner__overline {
    text-align: left;
  }
}

.headliner__desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding: 0 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  mix-blend-mode: normal;
  position: relative;
  z-index: 1;
  max-width: 349px;
  margin: 0 auto 28px;
}
@media (min-width: 426px) {
  .headliner__desc {
    margin: 0 auto 40px;
  }
}
@media (min-width: 769px) {
  .headliner__desc {
    padding: 0;
  }
}
@media (min-width: 880px) {
  .headliner__desc {
    margin: 0 0 40px;
    text-align: left;
  }
}

.headliner__backgroundImageWrapper {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: -90px;
  z-index: 0;
  opacity: 0.5;
}
.headliner__backgroundImageWrapper img {
  z-index: -10;
  max-width: 100%;
}

.mainNavSection {
  margin-bottom: 120px;
}
@media (min-width: 426px) {
  .mainNavSection {
    margin-bottom: 96px;
  }
}
@media (min-width: 769px) {
  .mainNavSection {
    margin-bottom: 168px;
  }
}

.primaryProduct {
  padding: 0 24px;
  margin-bottom: 24px;
  overflow: hidden;
}
@media (min-width: 426px) {
  .primaryProduct {
    padding: 0 40px;
    margin-bottom: 32px;
  }
}
@media (min-width: 769px) {
  .primaryProduct {
    margin-bottom: 40px;
  }
}
.primaryProduct .container {
  background-color: #D87D4A;
  padding: 55px 0;
  border-radius: 8px;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-size: 558px;
  background-position: 50% -121px;
  background-repeat: no-repeat;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 426px) {
  .primaryProduct .container {
    padding: 52px 0;
    background-size: 944px;
    background-position: 50% -288px;
  }
}
@media (min-width: 1024px) {
  .primaryProduct .container {
    padding: 133px 0 124px;
    background-position: -155px 5%;
  }
}
.primaryProduct .container > h1, .primaryProduct .container p {
  max-width: 349px;
}
@media (min-width: 1024px) {
  .primaryProduct .container > h1, .primaryProduct .container p {
    text-align: left;
  }
}
.primaryProduct h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  margin: 0 auto 24px;
}
@media (min-width: 426px) {
  .primaryProduct h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }
}
@media (min-width: 1024px) {
  .primaryProduct h1 {
    margin: 0 95px 24px auto;
  }
}
.primaryProduct p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin: 0 auto 24px;
  padding: 0 24px;
  text-align: center;
}
@media (min-width: 426px) {
  .primaryProduct p {
    margin: 0 auto 40px;
  }
}
@media (min-width: 1024px) {
  .primaryProduct p {
    margin: 0 95px 40px auto;
    padding: 0;
  }
}
.primaryProduct a {
  display: block;
  padding: 15px 29px;
  background-color: black;
  max-width: 160px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #FFF;
  text-decoration: none;
  border: black 1px solid;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .primaryProduct a {
    display: block;
    padding: 15px 29px;
    background-color: black;
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FFF;
    text-decoration: none;
    border: black 1px solid;
    margin: 0 285px 0 auto;
  }
}

.primaryProduct__imageWrapper {
  max-width: 172px;
  margin: 0 auto 32px;
}
@media (min-width: 426px) {
  .primaryProduct__imageWrapper {
    max-width: 197px;
    margin: 0 auto 64px;
  }
}
@media (min-width: 1024px) {
  .primaryProduct__imageWrapper {
    position: absolute;
    bottom: -7px;
    margin: 0;
    left: 140px;
    max-width: 350px;
  }
}
.primaryProduct__imageWrapper img {
  max-width: 100%;
}

.secondaryProduct {
  padding: 0 24px;
  max-height: 320px;
  height: 100%;
  margin-bottom: 24px;
}
@media (min-width: 426px) {
  .secondaryProduct {
    padding: 0 40px;
    margin-bottom: 32px;
  }
}
@media (min-width: 769px) {
  .secondaryProduct {
    margin-bottom: 48px;
  }
}
.secondaryProduct .container {
  border-radius: 8px;
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 101px;
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 526px) {
  .secondaryProduct .container {
    background-image: url("/assets/home/tablet/image-speaker-zx7.jpg");
    background-position: center;
  }
}
@media (min-width: 769px) {
  .secondaryProduct .container {
    background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
  }
}
.secondaryProduct h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  padding-top: 101px;
  margin: 0 0 32px 24px;
  text-transform: uppercase;
}
@media (min-width: 526px) {
  .secondaryProduct h4 {
    margin: 0 0 32px 62px;
  }
}
.secondaryProduct a {
  display: block;
  padding: 15px 29px;
  background-color: rgba(0, 0, 0, 0);
  max-width: 160px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  border: black 1px solid;
  margin: 0 0 0 24px;
}
@media (min-width: 526px) {
  .secondaryProduct a {
    display: block;
    padding: 15px 29px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    border: black 1px solid;
    margin: 0 0 0 62px;
  }
}

.tertiaryProduct {
  padding: 0 24px;
}
@media (min-width: 426px) {
  .tertiaryProduct {
    padding: 0 40px;
  }
}
@media (min-width: 426px) {
  .tertiaryProduct .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tertiaryProduct .container > div {
    max-width: 450px;
    min-width: 223px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
  }
}
@media (min-width: 769px) {
  .tertiaryProduct .container {
    gap: 30px;
  }
  .tertiaryProduct .container > div {
    max-width: 540px;
  }
}
.tertiaryProduct .tretiaryProduct__imageWrapper {
  max-width: 100%;
  margin-bottom: 24px;
}
.tertiaryProduct .tretiaryProduct__imageWrapper img {
  border-radius: 8px;
  max-width: 100%;
}
.tertiaryProduct .tretiaryProduct__linkWrapper {
  border-radius: 8px;
  background-color: #F1F1F1;
  padding-bottom: 41px;
}
@media (min-width: 426px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper {
    padding-bottom: 15px;
  }
}
.tertiaryProduct .tretiaryProduct__linkWrapper h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  padding-top: 41px;
  margin: 0 0 32px 24px;
  text-transform: uppercase;
}
@media (min-width: 426px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper h4 {
    padding-top: 25px;
    margin: 0 0 32px 41px;
  }
}
@media (min-width: 536px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper h4 {
    padding-top: 41px;
    margin: 0 0 32px 24px;
  }
}
@media (min-width: 630px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper h4 {
    margin: 0 0 32px 41px;
  }
}
@media (min-width: 670px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper h4 {
    padding-top: 101px;
    margin: 0 0 32px 41px;
  }
}
@media (min-width: 769px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper h4 {
    padding-top: 40px;
  }
}
@media (min-width: 1024px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper h4 {
    padding-top: 101px;
    margin: 0 0 32px 95px;
  }
}
.tertiaryProduct .tretiaryProduct__linkWrapper a {
  display: block;
  padding: 15px 29px;
  background-color: rgba(0, 0, 0, 0);
  max-width: 160px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  border: black 1px solid;
  margin: 0 0 0 24px;
}
@media (min-width: 426px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper a {
    display: block;
    padding: 15px 29px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    border: black 1px solid;
    margin: 0 0 0 41px;
  }
}
@media (min-width: 536px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper a {
    display: block;
    padding: 15px 29px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    border: black 1px solid;
    margin: 0 0 0 24px;
  }
}
@media (min-width: 630px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper a {
    display: block;
    padding: 15px 29px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    border: black 1px solid;
    margin: 0 0 0 41px;
  }
}
@media (min-width: 1024px) {
  .tertiaryProduct .tretiaryProduct__linkWrapper a {
    display: block;
    padding: 15px 29px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 160px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    border: black 1px solid;
    margin: 0 0 0 95px;
  }
}/*# sourceMappingURL=Home.css.map */