@use "./../../scssVariables/scssVariables";

.product {
    padding: 90px 24px 0;
    margin: 0 auto;
    max-width: 1110px;

    @media (min-width: 426px) {
        padding: 92px 39px 0;
    }

    .product__back {
        margin: 16px 0 24px;

        @media (min-width: 769px) {
            margin: 79px 0 56px;
        }

        button {
            @include scssVariables.bodyFont;
            border: none;
            background-color: unset;
            -webkit-text-fill-color: rgba($color: #000000, $alpha: 0.5);
            color: rgba($color: #000000, $alpha: 0.5);
            padding: 0;
        }
    }

    .product__info {
        margin-bottom: 88px;

        @media (min-width: 630px) {
            display: flex; 
            margin-bottom: 120px;;
        }

        @media (min-width: 769px) {
            margin-bottom: 160px;
            justify-content: space-around;
        }

        @media (min-width: 1024px) {
            justify-content: unset;
        }

        .product__imageWrapper {
            max-width: 100%;
            margin-bottom: 32px;
            overflow: hidden;
            border-radius: 8px;

            @media (min-width: 580px) {
                max-width: 80%;
                margin: 0 auto;
                max-height: 480px;
            }

            @media (min-width: 630px) {
                margin: 45px 40px 0 0;
            }

            @media (min-width: 670px) {
                margin: 0 40px 0 0;
            }

            @media (min-width: 720px) {
                margin: 0 69px 0 0;

            }

            @media (min-width: 769px) {
                max-width: 281px;
            }

            @media (min-width: 1024px) {
                max-width: 540px;
                max-height: 560px;
            }

            img {
                width: 100%;
                border-radius: 8px;

                @media (min-width: 580px) {
                    transform: scale(1.4);
                }

                @media (min-width: 630px) {
                    transform: scale(1);
                    height: 100%;
                }

                @media (min-width: 720px) {
                    transform: scale(1);
                }
            }
        }

        .product__infoText {
            @media (min-width: 426px) {
                padding-top: 45px;
                max-width: 340px;
            }

            @media (min-width: 630px) {
                max-width: 292px;
            }

            @media (min-width: 670px) {
                max-width: 340px;
                padding: 45px 0;
            }

            @media (min-width: 769px) {
            }

            @media (min-width: 880px) {
                max-width: 445px;
            }

            @media (min-width: 1024px) {
                padding-top: 79px;
            }

            .product__new {
                @include scssVariables.overline;
                text-transform: uppercase;
                color: scssVariables.$brown;
                margin-bottom: 16px;
                display: block;

                @media (min-width: 426px) {
                    font-size: 14px;
                    letter-spacing: 10px;
                    line-height: normal;
                    margin-bottom: 0;
                }
            }

            h2 {
                padding-top: 8px;
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 24px;
                letter-spacing: 1px;

                @media (min-width: 426px) {
                    line-height: 32px;
                    margin-bottom: 32px;
                    padding: 0;

                    &.product__nameNew {
                        margin-top: 17px;
                    }                    

                    &.product__name {
                        margin-top: 36px;
                    }
                }

                @media (min-width: 769px) {
                    max-width: 177px;

                    &.product__nameNew {
                        margin-top: 16px;
                    }

                    &.product__name {
                        margin-top: 35px;
                    }
                }
            }

            .product__desc {
                @include scssVariables.bodyFont;
                color: rgba($color: #000000, $alpha: 0.5);
                margin-bottom: 24px;

                @media (min-width: 426px) {
                    margin-bottom: 32px;
                }
            }

            .product__price {
                @include scssVariables.headerSix;
                display: block;
                margin-bottom: 31px;

                @media (min-width: 769px) {
                    margin-bottom: 47px;
                }
            }

            .product__cartControls {
                display: flex;
                align-items: center;

                .product__cartAmountChange {
                    border: none;
                    background-color: scssVariables.$darkestWhite;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 16.5px 15.5px;
                    height: 48px;
                    display: block;
                    color: rgba($color: #000000, $alpha: 0.25);
                    -webkit-text-fill-color: rgba($color: #000000, $alpha: 0.25);
                    cursor: pointer;

                    @media (min-width: 769px) {
                        &:hover {
                            color: scssVariables.$brown;
                            -webkit-text-fill-color: scssVariables.$brown;
                        }

                        &:active {
                            color: scssVariables.$lighterBrown;
                            -webkit-text-fill-color: scssVariables.$lighterBrown;
                        }
                    }

                    &:nth-of-type(2) {
                        margin-right: 16px;
                    }
                }

                .product__cartAmount {
                    background-color: scssVariables.$darkestWhite;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 15px 15.5px;
                    height: 18px;
                    line-height: normal;
                    display: block;
                }

                .product__cartAdd {
                    border: none;
                    background-color: scssVariables.$brown;
                    padding: 15px 30.5px 15px 34.5px;
                    height: 48px;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: #fff;
                    -webkit-text-fill-color: rgba($color: #fff, $alpha: 1.0);
                    text-transform: uppercase;
                    cursor: pointer;

                    @media (min-width: 769px) {
                        &:hover {
                            background-color: scssVariables.$lighterBrown;

                        }

                        &:active {
                            background-color: #EA9668;
                        }
                    }
                }
            }
        }
    }

    .product__features {
        @media (min-width: 769px) {
            display: flex;
            margin-bottom: 160px;
        }

        .product__featuresItems {
            @media (min-width: 769px) {
                max-width: 635px;
                margin-right: 125px;
            }

            p {
                @include scssVariables.bodyFont();
                opacity: 0.5;
            }
        }

        .product__box {
            @media (min-width: 630px) {
                display: flex;
            }

            @media (min-width: 769px) {
                display: block;
                min-width: 200px;
            }

            h3 {
                margin-right: 170px;

                @media (min-width: 769px) {
                    margin-right: 0;
                }
            }

            li {
                @include scssVariables.bodyFont();

                &:not(:last-of-type) {
                    margin-bottom: 8px;
                }

                .product__boxQuantity {
                    margin-right: 24px;
                    color: scssVariables.$brown;
                    font-weight: 700;
                }

                .product__boxItem {
                    opacity: 0.5;
                }
            }

        }

        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.857px;
            text-transform: uppercase;
            margin-bottom: 24px;

            @media (min-width: 426px) {
                @include scssVariables.headerThree();
            }

            @media (min-width: 769px) {
                margin-bottom: 32px;
            }
        }

        div {
            margin-bottom: 88px;

            @media (min-width: 426px) {
                margin-bottom: 120px;
            }

            @media (min-width: 769px) {
                margin-bottom: 0;
            }
        }
    }

    .product__pictures {
        margin-bottom: 120px;

        @media (min-width: 630px) {
            display: flex;
            justify-content: space-between;
        }

        @media (min-width: 769px) {
            margin-bottom: 160px;
        }

        .product__sideImgWrapper, .product__mainImgWrapper{
            max-width: 100%;

            img {
                width: 100%;
                border-radius: 8px;
                display: block;
            }
        }

        .product__side {
            @media (min-width: 630px) {
                margin-right: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between
            }

            .product__sideImgWrapper {
                margin-bottom: 20px;

                @media (min-width: 630px) {
                    margin-bottom: 0;
                }
            }
        }

        .product__mainImgWrapper {
            max-width: 635px;
        }
    } 

    .product__others {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.857px;
        text-transform: uppercase;
        margin-bottom: 135px;

        @media (min-width: 769px) {
            margin-bottom: 187px;
        }

        h3 {
            margin-bottom: 40px;

            @media (min-width: 426px) {
                @include scssVariables.headerThree();
            }

            @media (min-width: 769px) {
                margin-bottom: 64px;
            }
        }

        ul {
            @media (min-width: 630px) {
                display: flex;
                justify-content: space-between;
            }

            li {
                a {
                    text-decoration: none;

                    @media (min-width: 769px) {
                        &:hover .product__otherLinkButton {
                            background-color: scssVariables.$lighterBrown;
                        }

                        &:active .product__otherLinkButton {
                            background-color: #EA9668;
                        }
                    }

                    .product__otherImgWrapper {
                        max-width: 100%;
                        margin-bottom: 32px;

                        @media (min-width: 426px) {
                            margin-bottom: 40px;
                        }

                        @media (min-width: 769px) {
                            max-width: 350px;
                        }

                        img {
                            width: 100%;
                            border-radius: 8px;
                            display: block
                        }
                    }

                    h5 {
                        @include scssVariables.headerFive();
                        color: #000000;
                        margin-bottom: 32px;

                        @media (min-width: 630px) {
                            font-size: 22px;
                        }

                        @media (min-width: 769px) {
                            font-size: 24px;
                        }
                    }

                    .product__otherLinkButton {
                        background-color: scssVariables.$brown;
                        color: #FFF;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1px;
                        padding: 15px 29.5px 15px 31.5px;
                    }
                }

                &:not(:last-of-type) {
                    margin-bottom: 71px;

                    @media (min-width: 630px) {
                        margin: 0 11px 0 0;
                    }

                    @media (min-width: 769px) {
                        margin: 0;
                    }
                }
            }
        }

    }
}

