@use "./../../scssVariables/scssVariables";

.checkoutWrapper {
    background-color: #FAFAFA;

    .checkout {
        margin: 0 auto;
        max-width: 1110px;
        padding: 90px 24px 0;

        @media (min-width: 768px) {
            padding: 92px 40px 0;
        }

        .checkout__form {
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media (min-width: 1024px) {
                flex-direction: row;
                gap: 30px;
                padding-bottom: 141px;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 32px;
                background-color: #FFF;
                border-radius: 8px;
                padding: 24px 24px 31px 24px;
                box-sizing: border-box;

                @media (min-width: 768px) {
                    padding: 30px 28px; 
                    gap: 0;
                }

                @media (min-width: 1024px) {
                    max-width: 730px;
                    padding: 54px 48px 48px; 
                }

                h3 {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    @media (min-width: 768px) {
                        margin-bottom: 41px;
                    }

                    @media (min-width: 1024px) {
                        @include scssVariables.headerThree;
                        margin-bottom: 41px;
                    }
                }

                .form__section {
                    @media (min-width: 768px) {
                        &-billing {
                            margin-bottom: 53px;
                        }
                        &-shipping {
                            margin-bottom: 61px;
                        }
                        &-payment {
                            margin-bottom: 24px;
                        }
                    }


                    .form__sectionTitle {
                        color: scssVariables.$brown;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 25px;
                        letter-spacing: 0.929px;
                        text-transform: uppercase;
                        display: block;
                        margin-bottom: 16px;
                    }

                    .form__fieldSet {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;


                        @media (min-width: 580px) {
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 24px 10px;
                            justify-content: space-between;

                            &::after {
                                content: "";
                                flex-grow: 1;
                                flex-basis: 237px;
                            }
                        }

                        @media (min-width: 768px) {
                            gap: 24px 14px;
                        }

                        .form__field {
                            box-sizing: border-box;

                            @media (min-width: 580px) {
                                max-width: 329px;
                                flex-grow: 1;
                                flex-basis: 237px;
                            }
                            
                            @media (min-width: 768px) {
                                max-width: 309px;
                            }

                            &-wide {
                                max-width: 100%;
                                width: 100%;
                                flex-basis: unset;
                            }

                            .form__tooltips {
                                display: flex;
                                justify-content: space-between;

                                .form__label{
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: normal;
                                    letter-spacing: -0.214px;
                                    margin-bottom: 9px;
                                }

                                span {
                                    display: none;
                                    color: scssVariables.$red;
                                    text-align: right;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    letter-spacing: -0.214px;
                                }

                                &:has(~ .form__input:invalid) {
                                    color: scssVariables.$red;

                                     span {
                                        display: block;
                                    }
                                }
                            }

                            .form__input {
                                box-sizing: border-box;
                                width: 100%;
                                padding: 16px 24px 17px;
                                border: 1px solid #CFCFCF;
                                border-radius: 8px;
                                font-family: "Manrope";
                                font-size: 16px;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: -0.25px;
                                caret-color: scssVariables.$brown;

                                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                &:focus, &:focus-visible {
                                    outline-color: scssVariables.$brown;
                                    outline-width: 0;
                                    border-color: scssVariables.$brown;
                                    appearance: auto;
                                    -webkit-appearance: none;
                                }

                                &:not(:last-of-type) {
                                    margin-bottom: 24px;
                                }

                                &:invalid {
                                    border: 2px solid scssVariables.$red;
                                }
                            }
                        }
                    }
                }

                .form__label-noField {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.214px;
                    margin-bottom: 9px;

                    @media (min-width: 580px) {
                        flex-basis: 237px;
                        flex-grow: 1;
                    }
                }

                .form__radioField {
                    display: flex;
                    flex-direction: column;

                    @media (min-width: 580px) {
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 10px;
                    }

                    .form__radioWrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        width: 100%;

                        @media (min-width: 580px) {
                            max-width: 329px;
                            flex-basis: 237px;
                            flex-grow: 1;
                        }

                        .form__input-radio {
                            display: none;

                            &:checked + .form__label-radio:after {
                                display: block;
                            }

                            &:checked + .form__label-radio {
                                border: 1px solid scssVariables.$brown;
                            }
                        }

                        .form__label-radio {
                            display: flex;
                            border: 1px solid #CFCFCF;
                            border-radius: 8px;
                            padding: 18px 24px 19px;

                            &:hover {
                                border-color: scssVariables.$brown;
                            }

                            &:before {
                                box-sizing: border-box;
                                width: 20px;
                                height: 20px;
                                content: "";
                                border: 1px solid #CFCFCF;
                                border-radius: 50%;
                                margin-right: 16px;
                            }

                            &:after {
                                content: "";
                                width: 10px;
                                height: 10px;
                                background-color: scssVariables.$brown;
                                position: absolute;
                                display: none;
                                border-radius: 50%;
                                transform: translate(50%, 50%);
                            }
                        }
                    }
                }

                .form__cash {
                    padding-bottom: 36px;

                    @media (min-width: 768px) {
                        padding-bottom: 6px;
                    }

                    .form__cashImgWrapper {
                        float: left;
                        height: 100%;
                        margin: 10px;

                        img {
                            display: block;
                        }
                    }

                    .form__cashDescription {
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 25px;
                        text-align: justify;
                    }
                }

            }

            .checkoutCart {
                background-color: #FFF;
                border-radius: 8px;
                padding: 32px 24px;
                margin-bottom: 97px;
                box-sizing: border-box;

                @media (min-width: 768px) {
                    padding: 32px 33px;
                }

                @media (min-width: 1024px) {
                    max-width: 350px;
                    width: 100%;
                    height: 100%;
                    padding: 32px 33px;
                }

                h6 {
                    @include scssVariables.headerSix;
                    text-transform: uppercase;
                    margin-bottom: 31px;
                }
                
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    margin-bottom: 32px;
                    
                    li {
                        display: flex;
                        justify-content: space-between;
                        
                        .checkoutCart__item {
                            display: flex;
                            gap: 16px;

                            .checkoutCart__imgWrapper {
                                max-width: 64px;
                                
                                img {
                                    width: 100%;
                                    display: block;
                                    border-radius: 8px;
                                }
                            }

                            .checkoutCart__info {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                .checkoutCart__name {
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 25px;
                                    text-transform: uppercase;
                                }

                                .checkoutCart__cost {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 25px;
                                    opacity: 0.5;
                                }
                            }
                            
                        }
                        .checkoutCart__amount {
                            text-align: right;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 25px;
                            opacity: 0.5;
                            padding-top: 7px;
                        }
                    }

                }

                .checkoutCart__priceItem {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;

                    &-grand {
                        margin-bottom: 32px;
                        padding-top: 16px
                    }

                    .checkoutCart__priceTitle {
                        @include scssVariables.bodyFont;
                        text-transform: uppercase;
                        opacity: 0.5;
                    }

                    .checkoutCart__price {
                        text-align: right;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;

                        &-grand {
                            color: scssVariables.$brown;
                        }
                    }
                }
            }

            button {
                @include scssVariables.button(scssVariables.$brown, scssVariables.$lighterBrown, #FFF, scssVariables.$brown, 0, 15px 74px 15px 80px);
                max-width: 100%; 
                width: 100%;

                @media (min-width: 768px) {
                    line-height: normal;

                }
            }
        }
    }
}
