@use "./../../scssVariables/scssVariables";

footer {
    background-color: black;

    @media (min-width:426px) {
        padding: 0 40px;
    }
    
    .container {
        padding: 52px 0 38px;
        position: relative;
        max-width: 1110px;
        margin: 0 auto;

        @media (min-width:426px) {
            padding: 60px 0 46px;
        }

        @media (min-width: 769px) {
            padding: 75px 0 48px;
        }

        &::before {
            content: "";
            display: block;
            width: 101px;
            height: 4px;
            background-color: scssVariables.$brown;
            position: absolute;
            top: 0;
            left: calc(50% - (101px / 2));
    
            @media (min-width:426px) {
                left: 0px;
            }
        }
    }

    nav {
        text-align: center;
        margin-bottom: 48px;

        @media (min-width:426px) {
            margin-bottom: 32px;
        }

        @media (min-width: 769px) {
            margin-bottom: 36px;
        }

        ul {
            @media (min-width:426px) {
                text-align: left;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            @media (min-width: 769px) {
                justify-content: flex-end;
            }

            li:not(:last-of-type) {
                margin-bottom: 16px;

                @media (min-width:426px) {
                    margin-right: 34px;

                }
            }
        }


        a {
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        }
    }
}

.footer__logo{
    display: block;
    text-align: center;
    margin-bottom: 48px;

    @media (min-width:426px) {
        text-align: left;
    }

    @media (min-width: 769px) {
        position: absolute;
    }
}

.footer__desc {
    @include scssVariables.bodyFont;
    color: #fff;
    padding: 0 24px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 48px;

    @media (min-width:426px) {
        text-align: left;
        padding: 0;
        margin-bottom: 80px;
    }

    @media (min-width: 769px) {
        max-width: 540px;
        margin-bottom: 56px;
    }
}

.footer__credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width:426px) {
        flex-direction: row;
    }
}

.footer__copyright {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 48px;

    @media (min-width:426px) {
        text-align: left;
        margin-bottom: 0;
    }
}

.footer__media {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li:not(:last-of-type) {
            margin-right: 16px;
        }
    }

    @media (min-width: 769px) {
        position: absolute;
        right: 0;
        bottom: 136px;
    }
}