@use "./../../scssVariables/scssVariables";

.mainNav {
    border-radius: 0px 0px 8px 8px;
    max-width: 1110px;
    margin: 0 auto;

    &.home__nav, &.header__nav-dialog {
        padding: 0 24px;

        @media (min-width: 426px) {
            padding: 0 40px;
        }
    }

    &.product__nav {
        margin-bottom: 120px;
    }

    li {
        &:hover .mainNav__shop {
            color: scssVariables.$brown;
            opacity: 1;
        }
    }

    li:not(:last-of-type) {
        margin-bottom: 16px;
    }

    a {
        text-decoration: none;
        position: relative;
        padding-top: 52px;
        display: block;
        margin: 0 auto;
    }

    @media (min-width: 426px) {
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
            max-width: 1110px;

            li {
                min-width: 222px;
                max-width: 350px;
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }

    @media (min-width: 1024px) {
        ul {
            gap: 30px;
        }
    }
}

.mainNav__imgContainer {
    min-width: 163.5px;
    max-width: 50%;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);

    img {
        max-width: 100%;
    }

    @media (min-width:769px) {
        bottom: 100px;
    }
}

.mainNav__text {
    text-align: center;
    background-color: scssVariables.$darkestWhite;
    padding: 88px 0 22px;
    border-radius: 8px;

    @media (min-width:769px) {
        padding: 116px 0 30px;
    }
}

.mainNav__category {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.07143px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 17px;

    @media (min-width: 769px) {
        @include scssVariables.headerSix;
    }
}

.mainNav__button {
    display: flex;
    justify-content: center;

    .mainNav__shop {
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: black;
        opacity: 0.5;
        margin-right: 12px;
    }

    .mainNav__arrowContainer {
        max-height: 10px;

        img {
            max-height: 100%;
        }
    }
}
